@* @model IEnumerable<myFutsalApp.Models.Player>; *@

@model myFutsalApp.Models.PlayersPage.PlayersPageModel;

@{
    ViewData["Title"] = "Players Database";
    @* if (Model.PlayerList != null)
        {
        foreach (var data in Model.PlayerList)
        {
        Console.WriteLine(data?.NickName);
        }
        } *@
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method="post" class="mt-5" action="/players/search">
        <label asp-for="FilterModel.Name">Name</label>
        <input type="text" id="playerNameInput" asp-for="FilterModel.Name" />

        <label asp-for="FilterModel.Field">Order Field: </label>
        <select id="orderBy" asp-for="FilterModel.Field">
            <option value="country">Country</option>
            <option value="nickname" selected>Name</option>
            <option value="position">Position</option>
            <option value="rating">Rating</option>
        </select>

        <label asp-for="FilterModel.Order">Order By: </label>
        <select asp-for="FilterModel.Order" id="order">
            <option value="asc" selected>Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <input type="submit" value="Search" />
    </form>
    <section class="playersTable">
        @if (TempData["status"] != null)
        {
            <p class="errorResponse">Error - Unable to load players data. Please try again.</p>
        }

        <div class="overflow-auto">
            <table class="table mt-5">
                <thead>
                    <th scope="col">Nickname</th>
                    <th scope="col">Position</th>
                    <th scope="col">Overall</th>
                    <th scope="col">Pace</th>
                    <th scope="col">Shooting</th>
                    <th scope="col">Passing</th>
                    <th scope="col">Dribbling</th>
                    <th scope="col">Defending</th>
                    <th scope="col">Physical</th>
                    <th scope="col">SkillMoves</th>
                    <th scope="col">WeakFoot</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </thead>

                @if (Model.PlayerList != null)
                {
                    int i = 0;
                    @foreach (var player in Model.PlayerList)
                    {
                        string className = (i % 2 == 0 ? "tableRowlight" : "tableRowDark");

                        <tr class="@className">
                            <td>@player.NickName</td>
                            <td>@player.Position</td>
                            <td>@player.Overall</td>
                            <td>@player.Pace</td>
                            <td>@player.Shooting</td>
                            <td>@player.Passing</td>
                            <td>@player.Dribbling</td>
                            <td>@player.Defending</td>
                            <td>@player.Physical</td>
                            <td>@player.SkillMoves</td>
                            <td>@player.WeakFoot</td>
                            <td>
                                <form method="post">
                                    <input type="submit" value="Edit" class="btn btn-primary" />
                                </form>
                            </td>
                            <td>
                                <form method="post" action="">
                                    <input type="hidden" value="@player.Id" asp-for="PlayerIdDelete" />
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                            </td>
                        </tr>

                        //change row colour
                        i++;
                    }
                }
                else
                {
                    <p class="errorResponse py-4">No players found. Please retry with another search.</p>
                }

            </table>
        </div>
    </section>
</div>